@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(calc(-4px * var(--shake-power))); }
  40% { transform: translateX(calc(4px * var(--shake-power))); }
  60% { transform: translateX(calc(-3px * var(--shake-power))); }
  80% { transform: translateX(calc(3px * var(--shake-power))); }
  100% { transform: translateX(0); }
}


.shake {
  animation: shake 0.35s ease-in-out;
}
